# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# Libraries

import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [3]:
# your code here

admissions = pd.read_csv('data/Admission_Predict.csv')
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [4]:
# your code here

col = list(admissions.columns)

col=[name.rstrip() for name in col]

admissions.columns=col

Let's evaluate the dataset by looking at the `head` function.

In [5]:
# your code

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [6]:
admissions.dtypes

admissions['GRE Score'] = admissions['GRE Score'].astype("str")
admissions['CGPA'] = admissions['CGPA'].astype("str")


admissions.dtypes

Serial No.             int64
GRE Score             object
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                  object
Research               int64
Chance of Admit      float64
dtype: object

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [7]:
# your code here

admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [8]:
# your code here

admissions.index = admissions['Serial No.']
admissions.index.rename('index/serial',inplace=True)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
index/serial,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.0,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [9]:
# your code here

print(admissions['GRE Score'].unique)

print(admissions['CGPA'].unique)

# They both have the exact same rows than the main dataframe so they indeed uniquely identify the data

<bound method Series.unique of index/serial
1      337
2      316
3      322
4      314
5      330
      ...
381    324
382    325
383    330
384    312
385    333
Name: GRE Score, Length: 385, dtype: object>
<bound method Series.unique of index/serial
1      9.65
2       8.0
3      8.67
4      8.21
5      9.34
       ...
381    9.04
382    9.11
383    9.45
384    8.78
385    9.66
Name: CGPA, Length: 385, dtype: object>

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [10]:
# your code here

ind = []
count=1
while count <= len(admissions['GRE Score']):
    ind.append(admissions['GRE Score'][count]+'-'+admissions['CGPA'][count])
    count+=1


admissions.index = ind

admissions.drop(columns=['GRE Score', 'CGPA'],inplace=True)
admissions

,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
337-9.65,1,118,4,4.5,4.5,1,0.92
316-8.0,2,104,3,3.0,3.5,1,0.72
322-8.67,3,110,3,3.5,2.5,1,0.80
314-8.21,4,103,2,2.0,3.0,0,0.65
330-9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...
324-9.04,381,110,3,3.5,3.5,1,0.82
325-9.11,382,107,3,3.0,3.5,1,0.84
330-9.45,383,116,4,5.0,4.5,1,0.91
312-8.78,384,103,3,3.5,4.0,0,0.67
333-9.66,385,117,4,5.0,4.0,1,0.95

In [11]:
admissions.reset_index(inplace=True)
admissions

,index,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337-9.65,1,118,4,4.5,4.5,1,0.92
1,316-8.0,2,104,3,3.0,3.5,1,0.72
2,322-8.67,3,110,3,3.5,2.5,1,0.80
3,314-8.21,4,103,2,2.0,3.0,0,0.65
4,330-9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
380,324-9.04,381,110,3,3.5,3.5,1,0.82
381,325-9.11,382,107,3,3.0,3.5,1,0.84
382,330-9.45,383,116,4,5.0,4.5,1,0.91
383,312-8.78,384,103,3,3.5,4.0,0,0.67
384,333-9.66,385,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [205]:
# your code here
admissions = pd.read_csv('data/Admission_Predict.csv')
admissions

col = list(admissions.columns)

col=[name.rstrip() for name in col]

admissions.columns=col

CGPA_Research=admissions[(admissions['CGPA']>9) & (admissions['Research']==1)]
len(CGPA_Research)

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [206]:
# your code here

CGPA_SOP=admissions[(admissions['CGPA']>9) & (admissions['SOP']<3.5)]
CGPA_SOP

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
28,29,338,118,4,3.0,4.5,9.40,1,0.91
62,63,327,114,3,3.0,3.0,9.02,0,0.61
140,141,326,114,3,3.0,3.0,9.11,1,0.83
217,218,324,111,4,3.0,3.0,9.01,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84

In [207]:
print('The mean is:',CGPA_SOP['Chance of Admit'].mean())

The mean is: 0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [208]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    standardized=[]
    # your code here
    
    avg=np.mean(col)
    std=np.std(col)
    for element in col:
        a = element - avg
        a = a/std
        standardized.append(a)
    return standardized

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [209]:
# your code here

admissions['CGPA_std']=standardize(admissions['CGPA'])
admissions['GRE_std']=standardize(admissions['GRE Score'])
admissions['LOR_std']=standardize(admissions['LOR'])

admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [210]:
# Libraries
from random import choices

In [211]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [212]:
# your code here

admissions['deciding_column']=decision_choice
admissions['deciding_column']=admissions[decision_choice]
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.193197
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,0.076840
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,-1.039517
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.076840
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.076840
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.193197
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,0.635019
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,0.635019

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [213]:
# your code here

    

admissions['decision']= admissions['deciding_column'].apply(lambda x : 1 if (x > 0.8 ) else 0)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.193197,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.076840,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.076840,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.193197,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,0.635019,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,0.635019,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [214]:
# your code here

accepted = admissions[admissions['decision']==1]
print('Accepted: ',len(accepted))
accepted

Accepted:  74

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.193197,1
9,10,327,111,4,4.0,4.5,9.00,1,0.84,0.669726,0.889419,1.193197,1.193197,1
10,11,328,112,4,4.0,4.5,9.10,1,0.78,0.835949,0.976043,1.193197,1.193197,1
19,20,328,116,5,5.0,5.0,9.50,1,0.94,1.500840,0.976043,1.751376,1.751376,1
20,21,334,119,5,5.0,4.5,9.70,1,0.95,1.833285,1.495789,1.193197,1.193197,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,348,338,115,5,4.5,5.0,9.23,1,0.91,1.052039,1.842287,1.751376,1.751376,1
351,352,320,104,3,3.5,4.5,8.34,1,0.74,-0.427343,0.283048,1.193197,1.193197,1
369,370,340,113,4,5.0,5.0,9.74,1,0.96,1.899775,2.015536,1.751376,1.751376,1
370,371,335,117,5,5.0,5.0,9.82,1,0.96,2.032753,1.582414,1.751376,1.751376,1
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.193197,1

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [215]:
# your code here
import re

def clean(name):
    title=re.sub('\.', '',name)
    title=re.sub('\s+', '_',title)
    title = title.lower()
    return title

#admissions.columns= [clean(name) for name in admissions.columns]
#admissions

admissions.columns= [ re.sub('\.','',(re.sub('\s+', '_',name))).lower() for name in admissions.columns]
admissions

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.193197,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.076840,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.076840,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.193197,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,0.635019,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,0.635019,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [198]:
# your code here

admissions['adjusted_gre']=admissions.apply(lambda x: (x['gre_score']+10) if (x['university_rating']>=4) else (x['gre_score']),axis=1 )
admissions

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.755663,1,347.0
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,316.0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.456297,0,322.0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0,314.0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.149292,1,340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.629546,0,324.0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.716170,0,325.0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.149292,1,340.0
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0,312.0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,1.409165,1,343.0

In [199]:


admissions['adjusted_gre_binned'] = pd.cut(admissions['adjusted_gre'],4,labels=[1,2,3,4])
admissions

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre,adjusted_gre_binned
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.755663,1,347.0,4
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,316.0,2
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,0.456297,0,322.0,3
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0,314.0,2
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,1.149292,1,340.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.629546,0,324.0,3
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.716170,0,325.0,3
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.149292,1,340.0,4
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0,312.0,2
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,1.409165,1,343.0,4